body {
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    background-color: #0f4583;
    color: white;
    font-family: Gotham,HelveticaNeue,"Helvetica Neue",Helvetica;
}

#container {
    width: 1400px;
    margin: 0 auto;
}

svg text {
    fill: white;
}

.row {
    float: left;
}
#tournament {
    font-size: 12px;
    float: left;
    margin-right: 20px;
}

#details {
    float: left;
}

#details svg {
    margin-bottom: 40px;
}

.goal-label {
    font-size: 16px;
}

.match-rect:hover {
    cursor: pointer;
}

.match-rect.selected {
    opacity: 1.0;
}

#trophy {
    clear: both;
    text-align: center;
    margin-bottom: 60px;
}

#credits {
    text-align: center; 
    font-size: 12px;
    margin-bottom: 40px;
}