@font-face {
    font-family: 'dusha_plusregular';
    src: url('./font/dusha-regular.woff'), url('./font/dusha-regular.woff') format('woff');
}
body {
    font-family: "Open Sans";
    margin: 0 auto;
    width: 100%;
    /* height: 100%; */
    padding: 20px 0;
    background: linear-gradient(180deg, rgba(0, 44, 240, 0) 0%, rgb(30, 23, 65) 30%),url("./images/wc-2018-bg-blue.jpg");
    /* background-repeat: repeat-x; */
    /* background-color: #031429; */
    color: white;
}
#container {
    width: 1400px;
    background-color: #031429, 0.3;
    margin: 0 auto;
}
h1 {
    font-family: 'dusha_plusregular';
    font-size: 56px;
    text-anchor: middle;
    text-align: left;
    padding: 20px 0 0;
    margin-bottom: 10px;
}
#controls{
    font-size: 14px; 
    font-weight:bold; 
    width: 1100px;
    margin-bottom: 20px;
}
/* a {
    color: #E4C484;
}
a.on {
    color: #E4C484;
}
a.off {
    text-decoration: line-through;
} */


#typecheckbox{ 
    width: 200px;
    color: #E4C484;
    border-color:  #E4C484;
    border-width: 1px;
}
#typecheckbox:hover {
    cursor: pointer;
}

.round-header {
    fill: #E4C484;
    font-size: 14px;
    text-shadow: 2px 4px 10px black;
}
svg text {
    fill: white;
    font-family: 'dusha_plusregular'; 
}
#tournament {
    font-family: 'dusha_plusregular';   
    font-size: 12px;
    float: left;
    margin-right: 10px;
}
#details {
    float: left;
    background: linear-gradient(180deg, rgba(255, 61, 61, 0.438) 0%, rgba(22, 0, 6, 0.404) 20%), url("./images/wc-2018-bg-red.jpg");
    box-shadow: #031429, 20;
}
.score {
    font-family: 'dusha_plusregular';
    font-size: 11px;
}
.timeline-header {
    font-family: 'dusha_plusregular';
}
.team-label {
    font-family: 'dusha_plusregular'; 
    font-size: 10px;
}
.goal-label {
    font-family: 'dusha_plusregular'; 
    font-size: 16px;
}
.match-rect:hover, .timeline-rect:hover {
    cursor: pointer;
}
.match-rect.selected {
    opacity: 1.0;
}
#trophy {
    clear: both;
    text-align: center;
    margin-bottom: 30px;
}
#credits {
    text-align: left; 
    font-size: 12px;
    margin: 40px 0;
}
.select-style {
    width: 130px;
    border-radius: 0;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    opacity: 0.9;
    margin-top: 2px;
    /* margin-left: 5px; */
}
.select-style select {
    font-family: "Open Sans";
    color: #E4C484;
    /* text-decoration: underline; */
    padding: 0 20px;
    font-size: 14px;
    border-color:  #E4C484;
    border-width: 1px;
    box-shadow: none;
    background: transparent;
    background-image: none;
    /* -webkit-appearance: none; */
}
/* .years-style {
    width: auto;
    margin-left: 0;
}
.years-style select {
    padding: 0;
} */
.select-style select:hover {
    cursor: pointer;
}
.select-style select:focus {
    outline: none;
}